<div class="shoe-card">
  <div class="shoe-card-img-box">
    <img [src]="shoe.photoUrl" alt="{{ shoe.name }}" class="product-photo">
    <div class="shoe-card-price">{{ shoe.price }}</div>
    <img src="../../public/heart-svgrepo-com.svg" class="heart">
  </div>
  <div class="shoe-card-name">{{ shoe.name }}</div>
  <div class="shoe-card-details-upper">{{ shoe.brand }} | {{ shoe.gender }} | {{ shoe.purpose }}</div>
  <div class="shoe-card-details-lower">{{ shoe.numberOfColors }} colors | Best Seller</div>
</div>